@import "../../colors.scss";

.map-container {
  display: flex;
  position: relative;

  // Something is broken with the way react-mapbox-gl is trying to load an svg
  // an background-image for the +/- zoom icons, so added this temporary hack
  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    .mapboxgl-ctrl-zoom-in {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mapboxgl-ctrl-zoom-in:before,
    .mapboxgl-ctrl-zoom-out:before {
      min-width: 100%;
      font-size: 1.5rem;
    }
    .mapboxgl-ctrl-zoom-in:before {
      content: "+";
    }
    .mapboxgl-ctrl-zoom-out:before {
      content: "–";
    }
  }

  .map-sidepane {
    min-width: 348px;
    height: calc(100vh - 10rem);
    box-shadow: 15px 0 15px -7px $GREY_400;
    z-index: 1;
    padding: 0.625rem 1rem; // 10px 16px
    position: absolute;
    left: 0;
    top: 0;
    background: $OFF_WHITE_100;

    div {
      padding: 0.75rem 0; // 12px
    }
    .building-address-row {
      display: flex;
      align-items: center;
      a {
        padding: 0.75rem 0.5rem 0.75rem 0;
      }
    }
    button {
      margin-left: auto;
    }
    .label-name {
      font-weight: 700;
    }
  }
  .mapboxgl-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
