@import "../../colors.scss";

.related-links {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-bottom: 24px;

  a:visited {
    color: $OFF_BLACK;
  }

  &.related-links-internal {
    background-color: $BLUE_100;

    svg {
      display: none; // override of JFCL standard showing internal link arrow icon
    }
  }

  &.related-links-external {
    background-color: $OFF_WHITE_200;
  }

  .related-links-header {
    font-size: 16px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 16px;
    &:not(:first-of-type) {
      margin-top: 6px;
    }
  }

  .related-link {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
