@import "../../../App.scss";

.building-address {
  font-size: 2.25rem; // 36px
  line-height: 100%;
  margin: 1.5rem 0; // 24px
}

.chart__timespan_filter {
  display: flex;

  .jfcl-radio-button:first-child {
    margin-right: 10px;
  }
}

.chart-container {
  background-color: white;
}

.building-detail-table {
  width: 600px;
}

.related-links-container {
  position: absolute;
  top: calc($headerH + 1.5rem);

  @media (min-width: 1280px) {
    right: 1.5rem;
  }
  @media (max-width: 1280px) {
    left: 869px; // hacky. hopefully won't stay like this forever. Keeps the box from continuing to move to the left.
  }
}
