@import "../../../App.scss";

.layout-two-col {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.building-address {
  font-size: 2.25rem; // 36px
  line-height: 100%;
  margin: 1.5rem 0; // 24px
}

.chart__timespan_filter {
  display: flex;

  .jfcl-radio-button:first-child {
    margin-right: 10px;
  }
}

.chart-container {
  background-color: white;
}

.building-detail-table {
  width: 600px;
}

.related-links-container {
  position: sticky;
  top: calc($headerH + 1.5rem);
}
