.building-address {
  font-size: 2.25rem; // 36px
  margin: 1.5rem 0; // 24px
}

.section-header {
  font-size: 2.25rem; // 36px
}

.section-subheader {
  font-size: 1.5rem; // 24px
}

.chart__timespan_filter {
  display: flex;

  .jfcl-radio-button:first-child {
    margin-right: 10px;
  }
}

.chart-container {
  background-color: white;
}

.building-detail-table {
  width: 600px;
}
