.algolia-search {
  width: 50%;
}

.find-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  p,
  a {
    font-size: 1.2rem; // 19.2px (same as body)
    font-weight: 400;
    &:first-of-type {
      margin-bottom: 0.5rem;
    }
  }
  a {
    width: fit-content;
  }
}

.landlord-context {
  width: 600px;
  margin: 0 0 3rem 0;
}
.landing-page-table-context {
  width: 50%;
}