@import "../../../colors.scss";

.popover-filter-menu {
  position: relative;
}

.filter-button {
  font-family: "Degular";
  font-size: 1.125rem;
  line-height: 120%;
  padding: 0.75rem; // 12px
  border-radius: 6px;
  border: 1px solid $GREY_400;
  background: $OFF_WHITE_100;
  margin-bottom: 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: $WHITE;
    border: 2px solid $OFF_BLACK;
    margin-bottom: calc(1.5rem - 2px);
  }

  &.filter-button--active {
    border-color: $OFF_BLACK;
  }

  &.filter-button--has-hidden {
    background: $BLUE_100;
  }
}

.popover-menu {
  border-radius: 8px;
  border: 1px solid $OFF_BLACK;
  background: $OFF_WHITE_100;
  width: 256px;
  display: none;
  overflow: hidden;

  &.popover-menu--show {
    display: block;
    position: absolute;
    z-index: 80;
    top: 0;
  }

  .popover-menu__header {
    padding: 1.5rem;
    border-bottom: 1px solid $OFF_BLACK;

    .jfcl-checkbox {
      margin-bottom: 0;
    }
  }

  .popover-menu__scroll-area {
    overflow: scroll;
    max-height: 33rem;
  }

  .popover-menu__body {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    .jfcl-checkbox {
      margin-bottom: 1.25rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      .jfcl-checkbox__checkmark {
        min-height: 1.5rem;
        min-width: 1.5rem;
      }
    }
  }
}
