@import "../../../colors.scss";
@import "../../../util.scss";

.home-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 2rem;

  p {
    margin: 0;
  }

  .org-credit {
    margin-top: auto;
    padding-top: 1rem;
    @include for-phone-only {
      padding-bottom: 1rem;
    }
  }

  .layout-two-col {
    @include for-phone-only {
      flex-direction: column;
    }

    h2 {
      font-size: 2.25rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    .col-1 {
      display: flex;
      flex-direction: column;
      max-width: 640px;
      margin-right: auto;

      .homepage-section-header {
        font-size: 1.2rem; // 19.2px (same as body)
        line-height: 120%;
        margin: 3rem 0 1rem 0;
      }
      .jfcl-input-header__label {
        @include visually-hidden;
      }
      .algolia-search {
        width: 100%;
        margin-bottom: auto;
      }
    }

    .col-2 {
      margin: 0 auto;

      .cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .card {
        width: 18rem;
        border: 1px solid $GREY_400;
        border-radius: 4px;
        padding: 24px;
        box-sizing: border-box;
        background-color: #fff;

        .card__title {
          font-weight: 600;
        }

        .card__link {
          display: block;
          margin-top: 48px;
          text-wrap: nowrap;
        }
      }
    }
  }
}
