@import "../../../colors.scss";
@import "../../../util.scss";

.home-content {
  padding-bottom: 1rem;

  .layout-two-col {
    @include for-small-screen {
      flex-direction: column;
    }

    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin: 0 0 1rem 0;
    }

    .col-1 {
      display: flex;
      flex-direction: column;
      max-width: 640px;
      margin-right: auto;

      .homepage-section-header {
        font-size: 1.2rem; // 19.2px (same as body)
        line-height: 120%;
        margin: 2rem 0 1rem 0;
      }
      .jfcl-input-header__label {
        @include visually-hidden;
      }
      .algolia-search {
        width: 100%;
        margin-bottom: auto;
      }
    }

    .col-2 {
      @include for-big-screen {
        margin: 0 auto;
      }

      .home-page__cards-container {
        flex-direction: column;
      }
    }
  }
}
