@import "../../../colors.scss";
@import "../../../util.scss";

.homepage-section-header {
  font-size: 1.2rem; // 19.2px (same as body)
  line-height: 120%;
  margin: 48px 0 1rem 0;
}

.home-content .jfcl-input-header__label {
  @include visually-hidden;
}

.homepage-copy {
  margin: 0 0 1rem;
}

input[name="password"] {
  font-size: 1rem;
}

.algolia-search {
  width: 50%;
}

.cards-container {
  display: flex;
  margin-top: 48px;
}

.card {
  width: 18rem;
  border: 1px solid $GREY_400;
  border-radius: 4px;
  padding: 24px;
  box-sizing: border-box;
  margin-right: 57px;

  .card__title {
    font-weight: 600;
  }

  .card__link {
    display: block;
    margin-top: 48px;
    text-wrap: nowrap;
  }
}
