@import "../../colors.scss";

$dark: #454d5d;
$primary-color: $dark;
$primary-color-dark: darken($primary-color, 3%);
$primary-color-light: lighten($primary-color, 3%);
$secondary-color: lighten($primary-color, 40%);
$secondary-color-dark: darken($secondary-color, 3%);
$secondary-color-light: lighten($secondary-color, 3%);

.text-assistive {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 0.06rem;
  margin: -0.06rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.06rem;
}

.AlgoliaSearch {
  margin-top: 15px;
  margin-bottom: 15px;
}
.AlgoliaSearch form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.AlgoliaSearch .algolia__suggests {
  background-color: #fff;
  border: 1px solid #acb3c2;
  border-top: none;
}
.AlgoliaSearch .algolia__suggests a.algolia__item {
  display: block;
  text-decoration: none !important;
}
.AlgoliaSearch .algolia__suggests a.algolia__item .result__snippet {
  display: block;
  padding: 0.47rem 0.63rem;
  color: #454d5d;
}
.AlgoliaSearch .algolia__suggests a.algolia__item:hover,
.AlgoliaSearch .algolia__suggests a.algolia__item:focus {
  background-color: #454d5d;
  outline: none;
}
.AlgoliaSearch .algolia__suggests a.algolia__item:hover .result__snippet,
.AlgoliaSearch .algolia__suggests a.algolia__item:hover .result__snippet b,
.AlgoliaSearch .algolia__suggests a.algolia__item:focus .result__snippet,
.AlgoliaSearch .algolia__suggests a.algolia__item:focus .result__snippet b {
  color: #fff;
}
.AlgoliaSearch .search-by {
  margin-top: 0.47rem;
}
