@import "../../colors.scss";

.table-container-wrapper {
  overflow: hidden;
  border: 1px solid $GREY_600;
  width: fit-content;
  max-width: 100%;

  &:not(:has(.landlords-table)) {
    &::before {
      content: "";
      display: block;
      pointer-events: none;
      position: absolute;
      right: 0;
      height: 100%;
      width: 100px;
      z-index: 2;
      background: linear-gradient(90deg, rgba(250, 248, 244, 0) 0, #faf8f4);
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s linear;
    }
    &.hide-scroll-fade::before {
      visibility: hidden;
      opacity: 0;
      transition:
        visibility 0s 0.3s,
        opacity 0.3s linear;
    }
  }
}

.table-container {
  background-color: $WHITE;
  overflow-x: scroll;
  width: fit-content;
  max-width: 100%;
  position: relative;

  a {
    &:visited {
      color: #410476;
    }
    &:hover {
      color: #676565;
    }
  }
}

table.collection-building-table,
table.collection-building-table td,
table.collection-building-table th {
  background-color: $WHITE;
  border: 1px solid $GREY_NEW;
  border-collapse: collapse;
  text-align: center;
  padding: 2px 4px;
}

table.collection-building-table {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 1rem;

  tr:first-of-type th {
    border-top: 0;
  }

  td:first-of-type,
  th:first-of-type {
    border-left: 0;
    border-right: 0;
  }

  td:last-of-type,
  th:last-of-type {
    border-right: 0;
  }

  &:not(.landlords-table) {
    td:nth-of-type(2),
    th:nth-of-type(2) {
      border-left: 0;
    }
  }
}

table.collection-building-table tbody tr {
  &:hover {
    background-color: $GREY_50;
  }
  td {
    font-weight: 400;
    padding: 2px 8px;
    .pill {
      margin: 3px auto;
      padding: 4px 0;
    }
  }
}

.column-header {
  display: flex;
  flex-direction: column;
  height: 100px;

  &.column-header--group {
    text-wrap: nowrap;
    height: initial;
    padding: 8px;
    .column-header__label {
      justify-content: center;
    }
  }

  .column-header__label {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0.5rem 0 0.5rem 0.5rem;
    line-height: 120%;
  }

  .column-header__sort-icons {
    display: flex;
    margin-left: 5px;
    font-size: 0.7rem; // 11.2px

    .jfcl-button.unsorted {
      color: $GREY_400;
    }
  }

  .column-header__filter {
    display: flex;
    padding: 0 0.5rem;
  }
}

.filter__input_range {
  display: flex;
  justify-content: center;
  input {
    width: 2.8rem;
    border-radius: 4px;
    border-width: 1px;
  }
  input:last-of-type {
    margin-left: 8px;
  }
}

.filter__input_text {
  width: 12rem;
  border-radius: 4px;
  border-width: 1px;
}

.pagination-container {
  position: sticky;
  left: 0;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;

  .pagination-controls__pages {
    display: flex;
  }
}

.collection-building-table__record-count-container {
  margin-bottom: 16px;
  .clear-all {
    text-decoration: underline;
    background: none;
    border: none;
    margin-left: 0.625rem;
  }
}

.table-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
