@import "../../../App.scss";
@import "../../../colors.scss";

.map-container {
  width: calc(100vw - ($sidebarW));
  height: calc(100vh - 9rem);
  display: flex;
  border-top: 1px solid $GREY_400;
  margin: 0 -1.5rem -1.5rem -1.5rem;

  // Something is broken with the way react-mapbox-gl is trying to load an svg
  // an background-image for the +/- zoom icons, so added this temporary hack
  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    .mapboxgl-ctrl-zoom-in {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mapboxgl-ctrl-zoom-in:before,
    .mapboxgl-ctrl-zoom-out:before {
      min-width: 100%;
      font-size: 1.5rem;
    }
    .mapboxgl-ctrl-zoom-in:before {
      content: "+";
    }
    .mapboxgl-ctrl-zoom-out:before {
      content: "–";
    }
  }

  .map-sidepane {
    min-width: 348px;
    height: 100%;
    box-shadow: 15px 0 15px -7px $GREY_400;
    z-index: 1;
    padding: 0.625rem 1rem; // 10px 16px

    div {
      padding: 0.75rem 0; // 12px
    }
    .building-address-row {
      display: flex;
      align-items: center;
      a {
        padding: 0.75rem 0;
      }
    }
    button {
      // JFCL Icon isn't working here, so temp fix
      padding: 1rem 1.25rem;
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: auto;
    }
    .label-name {
      font-weight: 700;
    }
  }
}
// .map-style-toggle-container {
//   display: flex;
//   .map-style-toggle {
//     margin-left: auto;
//   }
// }
