@import "../../../App.scss";
@import "../../../colors.scss";

.all-map.map-container {
  width: calc(100vw - ($sidebarW));
  height: calc(100vh - 9rem);
  margin: 0 -1.5rem -1.5rem -1.5rem; // #content padding
  border-top: 1px solid $GREY_400;
}
