@import "@justfixnyc/component-library/dist/src/assets/index.css";
@import "colors.scss";
@import "variables.scss";


html {
  height: 100%;
}

body {
  font-family: "Degular";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.54px;
  background-color: $OFF_WHITE_100;
  margin: 0;
  position: relative;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  background-color: $OFF_WHITE_100;
  color: $OFF_BLACK;
  font-size: 1.25rem; // 20px
  letter-spacing: 0.8px;
  height: $headerH;
  width: 100%;
  padding-left: 1.75rem; // 24px
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  z-index: 100;
  border-bottom: 1px solid $OFF_BLACK;

  a {
    text-decoration: none;
    color: $OFF_BLACK;
    font-weight: 600;

    &:visited,
    &:active,
    &:hover {
      color: $OFF_BLACK;
    }
  }
}

#root {
  height: 100%;
}

#main {
  display: flex;
  height: 100%;
}

#sidebar {
  position: fixed;
  height: calc(100vh - $headerH);
  width: $sidebarW;
  margin-top: $headerH;
  z-index: 90;
  box-sizing: border-box;
  background-color: $OFF_WHITE_100;
  border-right: 1px solid $OFF_BLACK;

  @media screen and (max-width: 480px) {
    position: initial;
    height: 100vh;
  }
}

#content {
  padding: calc($headerH + 1.5rem) 1.5rem 1.5rem calc($sidebarW + 1.5rem); // 0 24px 0 ($sidebarW + 24px)

  @media screen and (max-width: 480px) {
    padding-left: 1.5rem;
  }

  width: 100%;
  box-sizing: border-box;
}

#nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $OFF_BLACK;
  font-size: 1rem; // 16px
  font-weight: 600;
  letter-spacing: 0.5px;

  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $OFF_BLACK;
    padding: 8px 12px 8px 12px;
    text-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: $GREY_50;
    }

    &.nav-link-active {
      background-color: $OFF_BLACK;
      color: $OFF_WHITE_100;

      &:hover {
        background-color: $GREY_700;
      }
    }

    .nav-link__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
      font-size: 0.875rem; // 14px
    }

    .nav-link__icon-caret {
      margin-left: 10px;
      color: $GREY_600;
    }
  }

  ul.sublinks {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-top: 6px;
      margin-bottom: 0;
    }

    .nav-link {
      font-weight: 400;
    }
  }
}

a {
  color: $OFF_BLACK;
  font-weight: 500;
  &:visited {
    color: #410476;
  }
  &:hover {
    color: #676565;
  }
}

h2,
.page-title {
  font-size: 2.25rem; // 36pt
  font-weight: 500;
}

h3 {
  font-size: 1.75rem; // 28pt
  font-weight: 500;
}

h4 {
  font-size: 1.25rem; // 20pt
  font-weight: 500;
}

.card {
  border: 1px solid $GREY_600;
  padding: 24px;
  box-sizing: border-box;
  background-color: #fff;
}
