.layout-two-col {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem; // 24px
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.cell__address,
.cell__landlord {
  text-align: left;
}

.collection-charts {
  width: 600px;
}
