@import "../../colors.scss";

.jfcl-link {
  cursor: pointer;
  svg {
    margin-right: 0.625rem; // 10px
  }
  &.disabled {
    pointer-events: none;
    cursor: default;
    color: $GREY_600;
  }
}

.download-button {
  background-color: inherit;
  font: inherit;
  border: none;
  cursor: inherit;
}
